@import './../../styles/variables';

.construction-wrapper{
	display: flex;
	align-items: center;
	justify-content: center;
	h2{
		color: var(--mainColor);
		font-size: clamp(200px, 8vw, 400px);
	}
	p{
		color: var(--mainColor);
		font-size: clamp(25px, 8vw, 50px);
		margin-bottom: 20px;
	}
	a{
		font-size: clamp(12px, 8vw, 25px);
	}
}