@import url('https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import './variables';

*, *::before, *::after{
	margin: 0;
	padding: 0;
	outline: 0;
	border: 0;
	appearance: none;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
}

:root{
	--background: #d9d9d9;
	--main: #ffffff80;
	--mainBorder: #fff;
	--mainColor: #000;
	--mainColorLight: #838383;
}


body {
  --sb-thumb-color: #faa968;
  --sb-track-color: color-mix(in lab, var(--background), var(--mainColor) 20%);
  --sb-size: 14px;
}

body::-webkit-scrollbar {
  width: var(--sb-size)
}

body::-webkit-scrollbar-track {
  background: var(--sb-track-color);
  border-radius: 2px;
}

body::-webkit-scrollbar-thumb {
  background: var(--sb-thumb-color);
  border-radius: 2px;
  
}

@supports not selector(::-webkit-scrollbar) {
  body {
    scrollbar-color: var(--sb-thumb-color)
											var(--sb-track-color);
  }
}

body{
	// background: $defaultGradient;
	background: var(--background);
	background-position: center center;
	background-size: auto;
	min-height: calc(100dvh - $navbarHeight - 24px);
	font-family: $defaultFont;

	#root{
		min-height: calc(100dvh - $navbarHeight - 44px);
		display: flex;
		justify-content: center;
		flex-direction: column;
		position: relative;

		main{
			min-height: calc(100dvh - $navbarHeight - 44px);
			margin: calc($navbarHeight + 24px) clamp(50px, 8vw, 200px) 20px;
			padding: 20px;
			border-radius: 5px;
			border: 1px solid var(--mainBorder);
			background: var(--main);
			box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
			backdrop-filter: blur(10px);
			-webkit-backdrop-filter: blur(10px);
			position: relative;

			.redirect-link{
				background: $accentColorOrange;
				padding: 6px 24px;
				border-radius: 50px;
				border: 1px solid color-mix(in lab, $accentColorOrange, var(--mainColor) 90%);
				color: $accentColorBlue;
				&:hover{
					background: $accentColorDarkOrange;
					color: #000;
					transition: all 200ms ease-in-out;
				}
			}

			.main-wrapper{
				min-height: calc(100dvh - $navbarHeight - 86px);
				display: flex;
				flex-direction: column;
				color: var(--mainColor);
			}
		}

		.modal-blocker{
			position: absolute;
			min-height: calc(100dvh - $navbarHeight - 4px);
			background: #000000be;
			backdrop-filter: blur(1px);
			-webkit-backdrop-filter: blur(1px);
			z-index: 9996;
			top: $navbarHeight + 4px;
			right: 0; left: 0;
			inset: 0;
		}
	}
}