@import "../styles/variables.scss";

.login-modal {
  position: absolute;
  width: 500px;
  height: 600px;
  color: var(--mainColor);
  background: var(--background);
  border-radius: 5px;
  border: 1px solid var(--mainBorder);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  padding: 10px;
  top: calc($navbarHeight - 6px);
  cursor: default;
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    .login-input {
      width: 80%;
      margin: 10px;
      padding: 5px;
      border: 1px solid var(--mainBorder);
      border-radius: 5px;
      background: var(--background);
      color: var(--mainColor);
      font-size: 1.2rem;
      &:focus {
        outline: none;
        border: 1px solid var(--mainColor);
      }
    }
    .invalid-email {
      &:focus {
        border: 1px solid red;
        color: red;
      }
    }
    .valid-email {
      &:focus {
        border: 1px solid green;
        color: green;
      }
    }
    .login-btn-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      .login-button {
        width: 80%;
        margin: 10px;
        padding: 5px;
        border: 1px solid var(--mainBorder);
        border-radius: 5px;
        background: var(--mainColor);
        color: var(--background);
        font-size: 1.2rem;
        cursor: pointer;
        &:hover {
          background: var(--mainHover);
          color: var(--mainColor);
        }
      }
    }
    .forgot-button {
      width: 80%;
      margin: 10px;
      padding: 5px;
      border: 1px solid var(--mainBorder);
      border-radius: 5px;
      background: var(--mainColor);
      color: var(--background);
      font-size: 1.2rem;
      cursor: pointer;
      &:hover {
        background: var(--mainHover);
        color: var(--mainColor);
      }
    }
  }
  .sign-up-text {
    margin-top: 30px;
    margin-left: 107px;
  }
  .sign-up-btn {
    width: 80%;
    margin-left: 47px;
    padding: 5px;
    border: 1px solid var(--mainBorder);
    border-radius: 5px;
    background: var(--mainColor);
    color: var(--background);
    font-size: 1.2rem;
    cursor: pointer;
    &:hover {
      background: var(--mainHover);
      color: var(--mainColor);
    }
  }
}

.games-modal {
  position: absolute;
  top: calc(100%);
  height: 400px;
  width: fit-content;
  padding: 10px;
  background: var(--background);
  border: 1px solid var(--mainBorder);
  border-radius: 5px;
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  color: var(--mainColor);
  display: flex;

  .games-genre-list {
    display: flex;
    flex-direction: column;
    width: 150px;
    height: fit-content;

    hr {
      margin: 10px 0;
    }

    .games-modal-link {
      padding: 6px 6px;
      &:hover,
      &.active {
        background: color-mix(in lab, var(--background) 95%, var(--mainColor));
        letter-spacing: 1px;
        transition: letter-spacing 300ms ease-in-out;
        cursor: pointer;
        color: $accentColorLightBlue;
        position: relative;
        display: inline-flex;
        align-items: center;
        &::after {
          content: "\F234";
          position: absolute;
          font-family: "Bootstrap-Icons";
          right: 0;
          letter-spacing: 0px;
        }
      }
    }
  }

  .games-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    justify-content: space-between;
    height: fit-content;
    width: fit-content;
    .games-card-container {
      background: color-mix(in lab, var(--background) 95%, var(--mainColor));
      width: max-content;
      max-width: calc(196px * 3 + 50px);
      padding: 10px;
      display: inline-flex;
      align-content: flex-start;
      gap: 15px;
      flex-wrap: wrap;

      .games-card-error-wrapper {
        width: calc(196px * 3 + 50px);
        height: 320px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
      }
      .game-card {
        // background: #e1e1e1;
        background: color-mix(in lab, var(--background), #000 20%);
        width: 196px;
        height: max-content;
        color: var(--mainColor);
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.4);
        .game-card-thumbnail-wrapper {
          width: max-content;
          img {
            width: 100%;
            display: flex;
          }
        }
        .game-card-info-wrapper {
          display: flex;
          height: fit-content;
          align-items: center;
          padding: 5px;
          justify-content: space-between;
          .bi {
            // color: #a6a6a6;
            color: color-mix(in lab, var(--mainColor), var(--background));
          }
          .price-tags-wrapper {
            display: flex;
            align-items: flex-start;
            gap: 5px;
            .game-card-price-tag,
            .game-card-price-tag-discount {
              color: #686868;
              font-size: 14px;
              border: 1px solid
                color-mix(in lab, var(--mainColor), var(--background));
              padding: 3px 6px;
              margin: 3px 0;
              border-radius: 3px;
            }
            .game-card-price-tag-discount {
              text-decoration: line-through;
            }
            .game-discount-wrapper {
              font-size: 12px;
              display: flex;
              flex-direction: column;
              align-items: flex-end;
              .discount-tag {
                background: $accentColorDarkOrange;
                padding: 2px 4px;
                border-radius: 2px;
              }
            }
          }
        }
        &:hover {
          // background: #ebebeb;
          background: color-mix(in lab, var(--background), #000 10%);
          .game-card-price-tag,
          .game-card-price-tag-discount {
            background: linear-gradient(-180deg, #9fbf00, #80ab00 91%);
            border: 1px solid #96bd27 !important;
            border-bottom-color: #69941b !important;
            border-left-color: #7fa721 !important;
            border-right-color: #7fa721 !important;
            color: #fff !important;
          }
        }
      }
    }
    .genre-link {
      text-transform: uppercase;
      letter-spacing: 1px;
      background: $accentColorLightBlue;
      border: 1px solid color-mix(in lab, $accentColorLightBlue, #fff 30%);
      padding: 6px 100px;
      font-size: 18px;
      border-radius: 3px;
      cursor: pointer;
      color: #fff;
      &:hover {
        background: $accentColorBlue;
        border-color: color-mix(in lab, $accentColorBlue, #fff 30%);
        transition: background 200ms ease, border-color 200ms ease;
      }
    }
  }
}
