@import '../../styles/variables';

.gamepage-wrapper{
	width: 100%;
	position: relative;
	.gamepage-hero{
		position: relative;
		.hero-thumbnail{
			width: 100%;
		}
		.hero-logo{
			position: absolute;
			left: 0; bottom: 0;
			width: 42%;
		}
		.hero-play-button{
			position: absolute;
			left: 50%;
			top: 50%;
			font-size: 100px;
			translate: -50% -50%;
			cursor: pointer;
			color: #fff;
		}
		.gamepage-info-container{
			position: absolute;
			background-color: var(--background);
			color: var(--mainColor);
			border: 1px solid var(--mainBorder);
			border-radius: 5px;
			width: 400px;
			height: fit-content;
			right: 200px;
			bottom: -137px;
			padding: 20px;
			transform: translate(25%);
			box-shadow: 2px 2px 5px rgba(0,0,0,0.2);
			.gamepage-info-inner-wrapper{
				height: 100%;
				width: 100%;
				display: flex;
				flex-direction: column;
				gap: 10px;
				position: relative;
				.discount-tag-wrapper{
					position: absolute;
					left: -20px;
					top: 0px;
					background-color: $accentColorDarkOrange;
					width: 100px;
					height: 50px;
					border-radius: 0 5px 5px 0;
					display: flex;
					align-items: center;
					justify-content: center;
					.discount-tag{
						font-size: 28px;
						font-weight: bold;
						color: var(--mainColor);
					}
				}
				.price-tag-wrapper{
					display: flex;
					flex-direction: column;
					align-items: flex-end;
					.price-tag-discount{
						font-size: 30px;
					}
				}
				hr{
					border-bottom: 1px solid var(--mainColor);
				}
			}
			.btn {
				display: flex;
				background-color: $accentColorLightBlue;
				color: var(--mainColor);
				padding: 0.5rem 1rem;
				border-radius: 0.5rem;
				font-size: 1.5rem;
				font-weight: 700;
				cursor: pointer;
				// width: max-content;
				justify-content: center;
				p {
					margin-left: 0.5rem;
				}
				&:hover {
					background-color: $accentColorDarkOrange;
					color: var(--mainBorder);
				}
			}
		}
	}

	.gamepage-hero-info{
		display: flex;
		flex-direction: column;
		gap: 10px;
		justify-content: center;
		margin: 30px 0 40px 0;
		.gamepage-title{
			font-size: 30px;
		}
		.gamepage-sub-info{
			display: flex;
			align-items: center;
			gap: 10px;
			color: #797979;
			font-size: 16px;
			hr{
				border-right: 1px solid #797979;
				height: 20px;
			}
			p:not(.language-tag){
				display: flex;
				align-items: center;
				gap: 5px;
			}
			.gamepage-platform-wrapper{
				display: flex;
				align-items: center;
				gap: 10px;
				margin: 0 10px;
			}
			.gamepage-language-wrapper{
				display: flex;
				gap: 5px;
				.language-tag{
					&:nth-child(1){
						&::after{
							content: ',';
						}
					}
				}
			}
		}
	}

	.gamepage-swiper{
		width: 100%;
		margin-bottom: 20px;
		padding: 0 50px;
		user-select: none;
		.gamepage-swiper-trailer-wrapper{
			position: relative;
			aspect-ratio: 16 / 9;
			width: 300px;
			.gamepage-play-button{
				position: absolute;
				top: 50%;
				left: 50%;
				translate: -50% -50%;
				font-size: 40px;
				color: #fff;
			}
		}
	}

	.gamepage-swiper-img{
		// height: 160px;
		aspect-ratio: 16 / 9;
		width: 300px;
		object-fit: cover;
	}

	.gamepage-description-info-wrapper{
		display: flex;
		gap: 50px;

		.gamepage-description-left{
			width: 55%;
			.description-content{
				display: flex;
				flex-direction: column;
				> *:not(.subHeader) {
					margin: 20px 0;
				}
				.gamepage-list{
					display: flex;
					flex-direction: column;
					gap: 5px;
					margin-left: 20px;
					li{
						list-style: disc!important;
					}
				}
				.quote{
					font-style: italic;
					font-size: 14px;
				}
				.devQuote{
					font-style: italic;
					&::before, &::after{
						content: '"';
					}
				}
				.midQuote{
					width: 100%;
					text-align: center;
				}
				.subHeader{
					font-weight: bold;
					font-size: 20px;
					margin: 5px 0;
				}
				.paragraph{
					margin: 5px 0;
				}
				.footNote{
					color: #797979;
				}
			}
		}

		hr:not(.header-hr){
			border-top: 1px solid var(--mainColorLight);
			width: 100%;
			margin: 20px 0;
		}

		.game-details-link{
			color: var(--mainColor);
			text-transform: capitalize;
			text-decoration: underline;
		}

		.space-holder, .space-holder2{
			&::after{
				content: '\00a0';
			}
		}

		.space-holder2{
			&::before{
				content: '\00a0';
			}
		}
		
		.gamepage-info-right{
			width: 45%;
			.game-details-row{
				display: flex;
				user-select: none;
				padding: 12px 12px;
				position: relative;
				.game-details-tag, .game-details-tag-link{
					color: gray;
					width: 200px;
					display: flex;
					align-items: center;
					justify-content: flex-start;
				}
				.game-functions-tag{
					width: 100%;
				}
				.game-details-content{
					display: flex;
					align-items: center;
					width: 100%;
					flex-wrap: wrap;
					gap: 5px 0;
					text-transform: capitalize;
				}
				.game-functions-content{
					display: flex;
					flex-direction: column;
				}
				&:hover{
					background: var(--mainBorder);
					box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
					&::before{
						content: '';
						position: absolute;
						height: 100%;
						width: 2px;
						top: 0;
						left: 0;
						background: $accentColorDarkOrange;
					}
				}
				
			}
			.game-maingame-container{
				.game-maingame{
					display: flex;
					background: var(--main);
					color: color-mix(in lab, var(--mainColor), var(--mainBorder) 10%);
					box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
					.maingame-thumbnail-wrapper{
						display: flex;
						img{
							width: 120px;
							aspect-ratio: 16 / 9;
						}
					}
					.maingame-info-wrapper{
						width: 100%;
						height: 100%;
						padding: 5px;
						display: flex;
						flex-direction: column;
						align-items: flex-start;
						.maingame-info-pricetags{
							display: flex;
							height: 43px;
							width: 100%;
							align-items: flex-end;
							justify-content: flex-end;
							gap: 5px;
						}
						.discount-tag{
							padding: 7px 12px;
							border-radius: 3px;
							background: $accentColorDarkOrange;
						}
						.dlc-pricetags{
							display: flex;
							flex-direction: column;
							align-items: flex-end;
						}
						.btn{
							display: none;
							padding: 7px 12px;
							border-radius: 3px;
							background: $accentColorLightBlue;
							cursor: pointer;
							&:hover{
								background: $accentColorDarkOrange;
							}
						}
					}
					&:hover{
						background: var(--mainBorder);
						color: var(--mainColor);
						.btn{
							display: block;
						}
					}
				}
			}
		}

		.game-dlc-container{
			display: flex;
			flex-direction: column;
			gap: 1px;
			.game-dlc{
				display: flex;
				background: var(--main);
				color: color-mix(in lab, var(--mainColor), var(--mainBorder) 10%);
				box-shadow: 0px 0px 2px rgba(0,0,0,0.2);
				.dlc-thumbnail-wrapper{
					display: flex;
					img{
						width: 120px;
						aspect-ratio: 16 / 9;
					}
				}
				.dlc-info-wrapper{
					width: 100%;
					height: 100%;
					padding: 5px;
					display: flex;
					flex-direction: column;
					align-items: flex-start;
					.dlc-info-pricetags{
						display: flex;
						height: 43px;
						width: 100%;
						align-items: flex-end;
						justify-content: flex-end;
						gap: 5px;
					}
					.discount-tag{
						padding: 7px 12px;
						border-radius: 3px;
						background: $accentColorDarkOrange;
					}
					.dlc-pricetags{
						display: flex;
						flex-direction: column;
						align-items: flex-end;
					}
					.btn{
						display: none;
						padding: 7px 12px;
						border-radius: 3px;
						background: $accentColorLightBlue;
						cursor: pointer;
						&:hover{
							background: $accentColorDarkOrange;
						}
					}
				}
				&:hover{
					background: var(--mainBorder);
					color: var(--mainColor);
					.btn{
						display: block;
					}
				}
			}
		}
	}

	.header-hr{
		border-top: 1px solid var(--mainColorLight);
		width: 100%;
		position: absolute;
		bottom: 0;
		z-index: -1;
	}

	.header-container{
		margin: 20px 0 30px 0;
		position: relative;
		.header-left{
			width: fit-content;
			padding-bottom: 15px;
			border-bottom: 1px solid var(--mainColor);
			font-size: 18px;
		}
	}

	.recommendations-wrapper{
		display: flex;
		flex-direction: column;
		width: 100%;
		align-items: center;
		gap: 20px;
		.recommendations1-container, .recommendations2-container{
			display: flex;
			gap: 20px;
			.game-card{
				display: flex;
				width: 280px;
				flex-direction: column;
				box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
				.game-card-thumbnail-wrapper{
					display: inline-flex;
					img{
						width: 100%;
						aspect-ratio: 16 / 7;
						object-fit: fill;
					}
				}
				.game-card-info-wrapper{
					height: 100px;
					background: var(--main);
					color: var(--mainColor);
					padding: 10px;
					display: flex;
					flex-direction: column;
					.game-card-title-wrapper{
						height: 50%;
						width: 100%;
					}
					.game-card-pricetags-wrapper{
						display: flex;
						gap: 10px;
						height: 50%;
						width: 100%;
						align-items: flex-end;
						justify-content: flex-end;
						.price-discount-wrapper{
							display: flex;
							flex-direction: column;
							align-items: flex-end;
							justify-content: center;
						}
					}
					.discount-tag{
						padding: 6px;
						font-weight: bold;
						border-radius: 3px;
						box-shadow: 0px 0px 3px rgba(0,0,0,0.2);
						background: $accentColorDarkOrange;
					}
					.btn{
						display: none;
						padding: 7px 12px;
						width: max-content;
						border-radius: 3px;
						background: $accentColorLightBlue;
						cursor: pointer;
						&:hover{
							background: $accentColorDarkOrange;
						}
					}
				}
				&:hover{
					.game-card-info-wrapper{
						background: var(--mainBorder);
					}
					.btn{
						display: block;
					}
				}
			}
		}
	}
}