.container {
  display: block;
  .row {
    .col-md-4 {
      margin-bottom: 20px;
      .game-card {
        display: flex;
        .game-card-thumbnail-wrapper {
          width: 45%;
          .game-card-thumbnail {
            object-fit: cover;
          }
        }
        .game-card-content {
          display: flex;
          justify-content: space-between;
          width: 100%;

          .game-card-title {
            font-size: 20px;
            font-weight: bold;
            align-self: flex-start;
          }
          .game-card-price {
            align-self: flex-end;
            font-size: 16px;
          }
          .game-card-platform {
            font-size: 16px;
          }
        }
      }
    }
  }
}
