@import "../../styles/variables";

.login-modal {
  position: absolute;
  width: 500px;
  height: 600px;
  color: var(--mainColor);
  background: var(--background);
  border-radius: 5px;
  border: 1px solid var(--mainBorder);
  box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
  padding: 10px;
  top: calc($navbarHeight - 6px);
  cursor: default;
  .login-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
    .login-header-wrapper {
      display: flex;
      align-items: center;
      img {
        width: 70px;
        height: 35px;
        filter: invert(1);
        margin: 20px;
      }
    }

    .login-input {
      width: 80%;
      margin: 10px;
      padding: 5px;
      border: 1px solid var(--mainBorder);
      border-radius: 5px;
      background: var(--background);
      color: var(--mainColor);
      font-size: 1.2rem;
      &:focus {
        outline: none;
        border: 1px solid var(--mainColor);
      }
    }
    .invalid-email {
      &:focus {
        border: 1px solid red;
        color: red;
      }
    }
    .valid-email {
      &:focus {
        border: 1px solid green;
        color: green;
      }
    }
    .login-btn-wrapper {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100%;
      hr {
        width: 80%;
        margin: 10px;
        border: 1px solid var(--mainBorder);
      }
      .login-button {
        width: 80%;
        margin: 10px;
        padding: 5px;
        border: 1px solid var(--mainBorder);
        border-radius: 5px;
        background: var(--mainColor);
        color: var(--background);
        font-size: 1.2rem;
        cursor: pointer;
        &:hover {
          background: var(--mainHover);
          color: var(--mainColor);
        }
      }
    }
    .forgot-button {
      width: 80%;
      margin: 10px;
      padding: 5px;
      border: 1px solid var(--mainBorder);
      border-radius: 5px;
      background: var(--mainColor);
      color: var(--background);
      font-size: 1.2rem;
      cursor: pointer;
      &:hover {
        background: var(--mainHover);
        color: var(--mainColor);
      }
    }
  }
  .sign-up-text {
    margin-top: 30px;
    margin-left: 107px;
  }
  .sign-up-btn {
    width: 80%;
    margin-left: 47px;
    padding: 5px;
    border: 1px solid var(--mainBorder);
    border-radius: 5px;
    background: var(--mainColor);
    color: var(--background);
    font-size: 1.2rem;
    cursor: pointer;
    &:hover {
      background: var(--mainHover);
      color: var(--mainColor);
    }
  }
}
