@import "../../styles/variables.scss";

nav {
  height: $navbarHeight;
  position: fixed;
  top: 4px;
  right: 0;
  left: 0;
  z-index: 9998;
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 1);

  &::before {
    content: "";
    position: absolute;
    z-index: 9998;
    background: $defaultGradient;
    top: -4px;
    width: 100%;
    height: 4px;
  }

  .nav-wrapper {
    height: 100%;
    // background: linear-gradient(-0deg, $accentColorCreme, #fff);
    background: $navbarGradient;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 clamp(50px, 8vw, 200px);
    user-select: none;

    .nav-link {
      text-transform: capitalize;
      padding: 17px 28px 17px 16px;
      color: #fff;
      font-family: $defaultFont;
      position: relative;
      font-size: 14px;
      display: inline-flex;
      align-items: center;
      gap: 5px;
      &:visited {
        color: #fff;
      }
      &::after {
        content: "\F22C";
        font-size: 12px;
        font-family: "Bootstrap-Icons";
        position: absolute;
        top: 20px;
        right: 12px;
      }
      &:last-child {
        color: $accentColorLightBlue;
        cursor: pointer;
        &::after {
          content: "";
        }
        &:hover {
          color: $accentColorOrange;
          .nav-link-profile-img {
            border-color: $accentColorOrange;
          }
        }
      }
      &:hover {
        color: color-mix(in lab, $accentColorLightBlue 65%, #fff);
      }
			&.active{
				color: $accentColorOrange;
				> .nav-link-profile-img{
					border-color: $accentColorOrange!important;
				}
			}
    }

    .nav-left {
      display: flex;
      gap: 10px;
      align-items: center;
      .logo-wrapper {
        display: inline-flex;
        img {
          height: 35px;
          filter: invert(1);
        }
      }
      .item-wrapper {
        display: flex;
        position: relative;
        align-items: center;
        .dropdown-wrapper {
          position: relative;

          &:last-child > .nav-link {
            color: $accentColorLightBlue;
            cursor: pointer;
            &:hover {
              color: $accentColorOrange;
            }
          }
          .nav-link {
            text-transform: capitalize;
            padding: 17px 28px 17px 16px;
            color: #fff;
            font-family: $defaultFont;
            position: relative;
            font-size: 14px;
            &:visited {
              color: #fff;
            }
            &::after {
              content: "\F22C";
              font-size: 12px;
              font-family: "Bootstrap-Icons";
              position: absolute;
              top: 20px;
              right: 12px;
            }
            &:hover {
              color: color-mix(in lab, $accentColorLightBlue 65%, #fff);
            }
						&.active{
							color: $accentColorOrange;
						}
          }
        }
        .nav-link-profile-img {
          width: 35px;
          height: 35px;
          object-fit: cover;
          object-position: center center;
          border-radius: 50px;
          border: 2px solid $accentColorLightBlue;
        }
      }
    }

    .nav-mid {
      width: 50%;
      display: flex;
      align-items: center;
      gap: 10px;
      color: #fff;
			position: relative;
      .nav-search {
        color: #fff;
        background: transparent;
        border-bottom: 1px solid #ffffff40;
        width: 50%;
        padding: 6px;
        font-family: $defaultFont;
        &:focus-visible,
        &:focus,
        &:hover {
          border-bottom: 1px solid #fff;
        }
      }
			.count-games{
				display: flex;
				gap: 5px;
				position: relative;
				&::after{
					content: '\F229';
					position: absolute;
					font-family: "Bootstrap-Icons";
					bottom: -17px;
					left: 50%;
					transform: translateX(-50%);
				}
			}
			.filtered-games-modal{
				position: absolute;
				top: 39px;
				left: -200px;
				border-radius: 3px;
				width: 1200px;
				height: fit-content;
				max-height: calc((6 * 75px) + 47.5px);
				overflow-y: scroll;
				background: var(--background);
				padding: 10px 20px;
				display: flex;
				flex-direction: column;
				gap: 2px;
				box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
				border: 1px solid var(--mainBorder);
				

				.game-wrapper{
					display: flex;
					width: 100%;
					background: var(--main);
					color: var(--mainColor);
					height: 73px;
					box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
					align-items: center;
					.game-thumbnail-wrapper{
						width: 130px;
						aspect-ratio: 16 / 9;
						display: inline-flex;
						img{
							width: inherit;
							aspect-ratio: 16 / 9;
						}
					}
					.game-info-wrapper{
						width: 600px;
						padding: 0 10px;
						display: flex;
						// flex-direction: column;
						align-items: center;
						gap: 10px;
						.dlc-tag{
							background: color-mix(in lab, $accentColorLightBlue, #fff 40%);
							padding: 5px 10px;
							border-radius: 3px;
						}
						.game-info{
							color: gray;
						}
					}
					.rating-platform-wrapper{
						width: 470px;
						display: flex;
						align-items: center;
						justify-content: space-evenly;
						.rating-wrapper{
							display: flex;
							align-items: center;
							justify-content: center;
							width: 200px;
							gap: 1px;
							.bi{
								color: color-mix(in lab, var(--mainColor), var(--mainBorder) 60%);
								font-size: 12px;
							}
						}
						.platform-wrapper{
							display: flex;
							color: color-mix(in lab, var(--mainColor), var(--mainBorder) 60%);
							width: 100px;
							gap: 5px;
							font-size: 12px;
						}
					}
					.price-tag-wrapper{
						width: 20%;
						display: flex;
						justify-content: space-between;
						padding: 0 10px;
						.discount-tag{
							width: 50px;
							padding: 6px;
							border-radius: 3px;
						}
						.btn{
							display: flex;
							padding: 6px;
							background: $accentColorLightBlue;
							color: #fff;
							border-radius: 3px;
							box-shadow: 0px 0px 3px rgba(0, 0, 0, 0.4);
							.price-tag{
								width: 60px;
								display: flex;
								// align-items: center;
								justify-content: space-between;
							}
							&:hover{
								background: color-mix(in lab, $accentColorLightBlue, #fff 30%);
								color: #000;
							}
						}
					}
					&:hover{
						background: var(--mainBorder);
					}
				}

			}
			.filtered-games-modal {
				--sb-thumb-color: #faa968;
				--sb-track-color: color-mix(in lab, var(--background), var(--mainColor) 20%);
				--sb-size: 14px;
			}
			
			.filtered-games-modal::-webkit-scrollbar {
				width: var(--sb-size)
			}
			
			.filtered-games-modal::-webkit-scrollbar-track {
				background: var(--sb-track-color);
				border-radius: 2px;
			}
			
			.filtered-games-modal::-webkit-scrollbar-thumb {
				background: var(--sb-thumb-color);
				border-radius: 2px;
				
			}
			
			@supports not selector(::-webkit-scrollbar) {
				.filtered-games-modal {
					scrollbar-color: var(--sb-thumb-color)
														var(--sb-track-color);
				}
			}
    }

    .nav-right {
      color: $fontColorTransp;
      display: flex;
      align-items: center;
      gap: 20px;
      .search-wrapper {
        cursor: pointer;
        &:hover {
          color: $fontColorFull;
        }
      }
      .cart-wrapper {
        display: flex;
        align-items: center;
        gap: 2px;
        cursor: pointer;
        position: relative;
        &:hover {
          color: $fontColorFull;
        }
        .cart-count {
          padding: 0 3px;
          font-size: 12px;
          border-radius: 3px;
        }
        .cart-modal {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          align-items: flex-start;
          width: 700px;
          color: var(--mainColor);
          background: var(--background);
          border-radius: 5px;
          border: 1px solid var(--mainBorder);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
          padding: 10px;
          top: calc($navbarHeight - 16px);
          right: 200px;
          transform: translate(250px);
          cursor: default;
          .cart-upper-wrapper {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 100%;
            .cart-artikel-title {
              display: flex;
              flex-direction: column;
              width: 100%;
            }
            .cart-artikel-price-btn {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              .btn {
                width: 60%;
              }
            }
          }
          .trennung {
            border-top: 1px solid var(--mainBorder);
            width: 100%;
          }
          .cart-items {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            width: 100%;
            padding: 10px;
            img {
              width: 150px;
							aspect-ratio: 16 / 9;
              border-radius: 5px;
              margin: 10px;
            }
            .cart-item {
              display: flex;
              justify-content: space-between;
              align-items: center;
              width: 100%;
              padding: 10px;
              border-bottom: 1px solid var(--mainBorder);
              .cart-item-info {
                display: flex;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
                .cart-info-left {
                  display: flex;
                  flex-direction: column;
                  justify-content: center;
                  align-items: flex-start;
                  width: 100%;
                  gap: 5px;
                  .cart-remove-item {
                    cursor: pointer;
                    &:hover {
                      color: $accentColorOrange;
                    }
                  }
                }
                .cart-info-right {
                  display: flex;
                  justify-content: flex-end;
                  margin-right: 20px;
                  align-items: center;
                  width: 100%;
                  .discount {
                    margin: 0 20px;
                    font-weight: 700;
                    color: #fff;
                    background-color: $accentColorLightBlue;
                    padding: 0.5rem 0.5rem;
                  }
                }
              }
            }
          }
          & > h3 {
            margin: 10px;
          }
          .cart-item {
            display: flex;
          }
          .bi {
            font-size: 40px;
          }
          .btn {
            text-align: center;
            width: 80%;
            margin: 10px;
            padding: 5px;
            border: 1px solid var(--mainBorder);
            border-radius: 5px;
            background: var(--mainColor);
            color: var(--background);
            font-size: 1.2rem;
            cursor: pointer;
            &:hover {
              background: var(--mainHover);
              color: var(--mainColor);
            }
          }
        }
        .cart-modal-empty {
          position: absolute;
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          width: 500px;
          height: 400px;
          color: var(--mainColor);
          background: var(--background);
          border-radius: 5px;
          border: 1px solid var(--mainBorder);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.4);
          padding: 10px;
          top: calc($navbarHeight - 16px);
          right: 200px;
          transform: translate(250px);
          cursor: default;
          .trennung {
            border-top: 1px solid var(--mainBorder);
            width: 75%;
          }
          & > h3 {
            margin: 10px;
          }
          .bi {
            font-size: 40px;
          }
          .btn {
            text-align: center;
            width: 80%;
            margin: 10px;
            padding: 5px;
            border: 1px solid var(--mainBorder);
            border-radius: 5px;
            background: var(--mainColor);
            color: var(--background);
            font-size: 1.2rem;
            cursor: pointer;
            &:hover {
              background: var(--mainHover);
              color: var(--mainColor);
            }
          }
        }
      }
      .screenmode-wrapper {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        &:hover {
          color: $fontColorFull;
          &::after {
            content: "Light / Dark";
            position: absolute;
            width: max-content;
            z-index: 9;
            font-size: 14px;
            background: $accentColorLightBlue;
            padding: 3px;
            border-radius: 3px;
            top: -10px;
            left: 25px;
          }
        }
      }
      .logout-wrapper {
        display: flex;
        align-items: center;
        cursor: pointer;
        position: relative;
        &:hover {
          color: $fontColorFull;
          &::after {
            content: "Logout";
            position: absolute;
            font-size: 14px;
            background: $accentColorLightBlue;
            padding: 3px;
            border-radius: 3px;
            top: -10px;
            left: 25px;
          }
        }
      }
    }
  }
}
